nav {
    background: #343A40;

}

.menu-list {
    margin: 0px;
}
.menu-list li {
    display: inline-block;
    vertical-align: top;
}

.menu-list li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 15px;
}
.active {
    columns: #039be5;
}